<div class="sidebar">
  <div class="sidebar-content">
    {% if page.toc == "" %}
      <h1 class="sidebar-title"><a href="/">Coding Minecraft</a></h1>
    {% else %}
      <h1 class="sidebar-title">{{ page.title | replace: "-", " " }}</h1>
    {% endif %}
    <h1 class="topbar-title"><a href="/">Coding Minecraft</a></h1>

    <div class="chapter-links">
      {% for link in page.contents %}
      <div class="chapter-link">
        <a href="#{{ link | replace: " ", "-" }}" class="link">{{ link }}</a>
      </div>
      {% endfor %}
      <br />

      <div class="chapter-link">
        <a href="/Toc" class="link">Table of Contents</a>
      </div>
    </div>
  </div>
</div>
