<div class="alert alert-info alert-dismissible fade in work-in-progress">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <p>
  Please note that this book is a work in progress! I would greatly appreciate your feedback, and if you
  would like to be notified of when a new chapter comes out please sign up below. Thank you!
  </p>

  <h3 class="email-me">Keep me updated!</h3>
  <form>
    <input class="signup" placeholder="my_email@domain.com"></input>
    <input type="submit" value="Subscribe" class="btn btn-info btn-xs"></input>
  </form>
</div>
