---
---

$link-color: #bdbdbd;
$link-hover: #5c5edc;
$navbar-color: #1c1d22;
$light-gray: #bbb;

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a.link {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

a.link:link {
  color: $link-color;
}

a.link:visited {
  color: $link-color;
}

a.link:hover {
  color: $link-hover;
  text-decoration: none;
}

.chapter-link {
  padding: 2% 0;
}

p {
  padding: 1%;
}

p.drop-cap {
  float: left;
  font-size: 5em;
  line-height: 0.85em;
  padding-right: 0.1em;
}

footer {
  margin-top: 8%;
  padding-top: 2%;
  padding-bottom: 5%;
  border-top: 1px solid #ccc;
}

footer.p {
  width: 15%;
  margin: auto;
}



div.code-header {
  position: absolute;
  width: 150px;
  right: -160px;
  font-size: .8em;
  color: #aaa;
}




/* NOTE STYLES */
div.info {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4px;
  border-left: 4px solid #a5c7ff;
  padding: 3%;
  color: #888;
  font-style: italic;
}

div.warning {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4px;
  border-left: 4px solid #ed0202;
  padding: 3%;
  color: #888;
  font-style: italic;
}




/* TOC STYLES*/
.section-link {
  margin-left: 4%;
  padding: 1%;
}

.section-title {
  font-style: italic;
  font-weight: bold;
}




/* FORM STYLES */

.work-in-progress {
  padding: 1%;
}

.work-in-progress p {
  margin-right: 8%;
}

.email-me {
  margin-bottom: 1%;
  font-size: 1.1em;
}

.signup {
  font-size: .8em;
}






/* CHAPTER CONTENT STYLES */
.chapter-header {
  font-size: 3em;
}

.chapter-number {
  float: right;
  color: $link-color;
}

.previous {
  float: left;
}

.chapter-content {
  position: relative;
  margin-top: 8%;
  margin-left: 30%;
  margin-right: 25%;
  font-size: 1.2em;
}

.chapter-content img {
  display: block;
  max-height: 400px;
  max-height: 45vh;
  width: auto;
  margin: auto;
}




/* ARROWS */
.right-arrow, .left-arrow {
  height: 100%;
  position: fixed;
  font-size: 3em;
  right: 0;
  width: 4%;
  padding-left: 1%;
  color: $light-gray;
  cursor: pointer;
}

.left-arrow {
  left: 25%;
}

.right-arrow-text, .left-arrow-text {
  position: relative;
  top: 50%;
}

.right-arrow:hover, .left-arrow:hover {
  transition: .5s;
  color: darken($light-gray, 20%);
}



/* SIDEBAR/TOP BAR STYLES */
.sidebar {
  height: 100%;
  width: 25%;
  background-color: $navbar-color;
}

.sidebar-title a, .topbar-title a {
  color: $link-color;
}

.sidebar-title {
  border-bottom: 1px solid darken($link-color, 20%);
  color: $link-color;
}

.sidebar-title a:hover, .topbar-title a:hover {
  color: darken($link-color, 25%);
  text-decoration: none;
}


@media only screen and (min-width: 950px) {
  .sidebar {
    display: block;
    float: left;
    position: fixed;
  }

  .sidebar-title {
    padding-bottom: 5%;
  }

  .sidebar-content {
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .chapter-links {
    margin-bottom: 2%;
    padding-bottom: 5%;
  }

  .topbar-title {
    display: none;
  }
}

@media only screen and (min-width: 0px) and (max-width: 949px) {
  .sidebar {
    display: block;
    float: top;
    position: fixed;
    width: 100%;
    height: 10%;
    height: 10vh;
    z-index: 10;
  }

  .title a {
    font-size: 1em;
  }

  .right-arrow-text {
    right: 11px;
  }

  .chapter-number {
    display: none;
  }

  .chapter-content {
    margin-top: 15%;
    width: 72%;
    margin-left: 10%;
    margin-right: 18%;
  }

  .chapter-links {
    display: none;
  }

  .sidebar-title {
    display: none;
  }

  .topbar-title {
    border: none;
    font-size: 2em;
    text-align: center;
    margin: 0;
    height: 10vh;
    line-height: 10vh;
  }

  .left-arrow {
    left: 0;
    border: none;
  }

  .right-arrow {
    border: none;
  }

  .code-header {
    width: 90px;
    right: 0px !important;
  }
}
