<!DOCTYPE html>
<html lang="en">
  <head>
    {%  include head.html %}
  </head>
  <body>
    {% include sidebar.html %}

    <div class="chapter-content">
      <h1 class="chapter-header">{{ page.title }} <span class="chapter-number">{{ page.number }}</span></h1>

      {% include work_in_progress.html %}
      {{ content }}
    </div>

    {% if page.nextChapter %}
    <div class="right-arrow" onclick="location.href='/{{ page.nextChapter | replace: " ", "-" }}'">
      <span class="right-arrow-text"><i class="fas fa-angle-right"></i></span>
    </div>
    {% endif %}

    {% if page.previousChapter %}
    <div class="left-arrow" onclick="location.href='/{{ page.previousChapter | replace: " ", "-"}}'">
      <span class="left-arrow-text"><i class="fas fa-angle-left"></i></span>
    </div>
    {% endif %}

</html>
